*/code/.idea/*
*/code/build/*
*/code/build-*
cmake-build*
build-*
*/code-*/
*/code/z_old_code/
*/code/x64*
*/code/x86*
x64/
x86/
.idea/
*.bak
*.exe
*.obj
*.pdb
*.ilk
*.VC.db
*.VC.opendb
*.zip
*.tgz
*.gif
*.vcxproj.user
.vs
DG1__DS*
t.t
t.txt
~*
